body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}
.section {
  width: 100vw;
  height: 100vh;
}
.main {
  background: #ffeeee url("../img/bg1.jpg") no-repeat center center fixed;
  background-size: cover;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
.mainLink {
  display: block;
  width: 100%;
  height: 100%;
}
.menuPanel {
  height: 100%;
  background-color: rgba(60, 117, 117, 0.8);
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  left: -270px;
  -webkit-transition: left 0.8s;
  transition: left 0.8s;
}
.menuPanel.open {
  left: 0;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10%;
}
.menu__item {
  padding: 10px;
  color: #C38F64;
  font-size: 18px;
  display: block;
}
.burger {
  position: fixed;
  width: 45px;
  height: 45px;
  margin: 10px 15px;
  -webkit-transition: margin-left 0.8s;
  transition: margin-left 0.8s;
}
.burger > span {
  display: block;
  margin-bottom: 10px;
  height: 2px;
  background-color: #000000;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger-bottom {
  text-transform: uppercase;
  font-size: 14px;
}
.burger:hover {
  cursor: pointer;
  /* &>.burger-top {
				transform: scaleX(1.1);
			}
		&>.burger-middle {
				transform: scaleX(0.8);
		}
		&>.burger-bottom {
				transform: scaleX(1.1);
		} */
}
.burger.active {
  margin-left: 275px;
}
.burger.active > .burger-top {
  height: 45px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20%;
}
.burger.active > .burger-middle {
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.5s 0.5s;
  transition: -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  -webkit-transform: translateY(-33px) rotateZ(45deg);
  transform: translateY(-33px) rotateZ(45deg);
}
.burger.active > .burger-bottom {
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.5s 1s;
  transition: -webkit-transform 0.5s 1s;
  transition: transform 0.5s 1s;
  transition: transform 0.5s 1s, -webkit-transform 0.5s 1s;
  -webkit-transform: translateY(-45px) rotateZ(-45deg);
  transform: translateY(-45px) rotateZ(-45deg);
}
.logo {
  display: block;
  background: url("../img/logo.png") no-repeat;
  background-size: 100%;
  height: 160px;
  width: 250px;
  -ms-flex-item-align: center;
  align-self: center;
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.socials__item {
  margin: 10px 15px 0;
}
