body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.container--small {
  max-width: 960px;
}
.section {
  width: 100vw;
  height: 100vh;
}
.overlay {
  position: fixed;
  z-index: 9;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: none;
}
.overlay.open {
  display: block;
  overflow: hidden;
}
h1 {
  font-family: PolarVertex, Arial, sans-serif;
  font-size: 55px;
  margin: 15px 0px;
  padding: 0;
  font-weight: normal;
  text-align: right;
  color: #475b57;
}
/* .main {
	background: #ffeeee url("../img/bg1.jpg") no-repeat center center fixed;
	background-size: cover;
	} */
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
/* .mainLink {
	display: block;
	width: 100%;
	height: 100%;
	} */
.menu__bg {
  height: 100vh;
  background-color: #ffffff;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: fixed;
  -webkit-transition: left 0.8s;
  transition: left 0.8s;
  display: none;
}
.menu__bg.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9;
  position: relative;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu li {
  padding: 10px;
  color: #333333;
  font-size: 25px;
  display: block;
  font-family: NordRegular, Arial, sans-serif;
}
.burger {
  position: fixed;
  z-index: 10;
  width: 45px;
  height: 45px;
  top: 20px;
  margin: 0 20px;
  -webkit-transition: margin-left 0.8s;
  transition: margin-left 0.8s;
}
.burger > span {
  display: block;
  margin-bottom: 10px;
  height: 2px;
  background-color: #475b57;
  text-align: center;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.burger-bottom {
  text-transform: uppercase;
  font-size: 14px;
}
.burger:hover {
  cursor: pointer;
}
.burger.active {
  margin-left: 10px;
}
.burger.active > .burger-top {
  -webkit-transition: -webkit-transform 0.2s 0.3s;
  transition: -webkit-transform 0.2s 0.3s;
  transition: transform 0.2s 0.3s;
  transition: transform 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
  -webkit-transform: translateY(10px) rotateZ(45deg);
  transform: translateY(10px) rotateZ(45deg);
}
.burger.active > .burger-middle {
  opacity: 0;
}
.burger.active > .burger-bottom {
  background-color: #475b57;
  -webkit-transition: -webkit-transform 0.2s 0.6s;
  transition: -webkit-transform 0.2s 0.6s;
  transition: transform 0.2s 0.6s;
  transition: transform 0.2s 0.6s, -webkit-transform 0.2s 0.6s;
  -webkit-transform: translateY(-13px) rotateZ(-45deg);
  transform: translateY(-13px) rotateZ(-45deg);
}
.logo {
  display: block;
  display: inline-block;
  -ms-flex-item-align: center;
  align-self: center;
}
.logo > img {
  width: 200px;
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
}
.socials__link {
  display: block;
  width: 35px;
  height: 35px;
  background-color: #333333;
  margin: 10px 15px 0;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}
.socials__link:hover {
  background-color: #d9d9d9;
}
.socials__link:hover > i {
  color: #333333;
}
.socials__link > i {
  font-size: 15px;
  color: #ffffff;
}
.socials__link > i::before {
  margin-top: 25%;
  vertical-align: middle;
}
.main__photo {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.main__photo > img {
  width: 100%;
}
