body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
}
.section {
  width: 100vw;
  height: 100vh;
}
.main {
  background: #ffeeee url("../img/bg1.jpg") no-repeat center center fixed;
  background-size: cover;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
.mainLink {
  display: block;
  width: 100%;
  height: 100%;
}
.menuPanel {
  height: 100%;
  background-color: lightblue;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  left: -270px;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10%;
}
.menu__item {
  padding: 10px;
  color: grey;
  font-size: 18px;
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.socials__item {
  margin: 10px 15px 0;
}
