@menu-bg: rgba(60, 117, 117, 0.8);
@text: #C38F64;

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	position: relative;
	overflow: hidden;
}

.section {
	width: 100vw;
	height: 100vh;
}

.main {
	background: #ffeeee url("../img/bg1.jpg") no-repeat center center fixed;
	background-size: cover;
}
 ul li {
	list-style-type: none;
}
 a {
	text-decoration: none;
} 

ul {
	margin: 0;
	padding: 0;
}

.mainLink {
	display: block;
	width: 100%;
	height: 100%;
}

.menuPanel {
	height: 100%;
	background-color: @menu-bg;
	width: 270px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	left: -270px;
	transition: left 0.8s;
	&.open {
		left: 0;
	}
}

.menu {
	display: flex;
	flex-direction: column;
	padding: 10%;
	&__item {
		padding: 10px;
		color: @text;
		font-size: 18px;
		display: block;
	}
}

.burger {
	position: fixed;
	width: 45px;
	height: 45px;
	margin: 10px 15px;
	transition: margin-left 0.8s;
	> span {
		display: block;
		margin-bottom: 10px;
		height: 2px;
		background-color: #000000;
		text-align: center;
		transition: 0.3s;
	}
	&-bottom {
		text-transform: uppercase;
		font-size: 14px;
	}
	&:hover {
		cursor: pointer;
		/* &>.burger-top {
				transform: scaleX(1.1);
			}
		&>.burger-middle {
				transform: scaleX(0.8);
		}
		&>.burger-bottom {
				transform: scaleX(1.1);
		} */
	}
	&.active {
		margin-left: 275px;
		&>.burger-top {
			height: 45px;
			background-color: rgba(0, 0, 0, 0.8);
			border-radius: 20%;	
		}
		&>.burger-middle {
			background-color: #ffffff;
			transition: transform 0.5s 0.5s;
			transform: translateY(-33px) rotateZ(45deg);
		}
		&>.burger-bottom {
			background-color: #ffffff;
			transition: transform 0.5s 1s;
			transform: translateY(-45px) rotateZ(-45deg);
		}
	}
}




.logo {
	display: block;
	background: url("../img/logo.png") no-repeat;
	background-size: 100%;
	height: 160px;
	width: 250px;
	align-self: center;
}


.socials {
	display: flex;
	padding-bottom: 50px;
	justify-content: center;
	flex-wrap: wrap;
	&__item {
		margin: 10px 15px 0;
	}
}